
  /* @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap'); */

  @import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@200;400;600;800&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:"Work Sans";
}

html{
    /*me permite deslizar cuando hago clic en los links del menu*/
   scroll-behavior: smooth;
}

/*MENU*/
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header{

    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
/* LOGO NOMBRE-COLOR */
.contenedor-header header .logo a{
    font-family:"Righteous";
    font-size: 40px;
    color:#6be7e9;
    text-decoration: none;
    white-space: nowrap;
   
}

.contenedor-header header ul{
display: flex;
list-style: none;
}

/* BARRA DE TAREAS - LETRAS */
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    white-space: nowrap;
}
.contenedor-header header nav ul il a:hover{
    color: #6be7e9;
}
.nav-responsive{
    background-color: #6be7e9;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none; 
}
/* IMAGEN CIRCULO */
.contenido-banner .contendor-img{
max-width: 300px;
max-height: 300px;
width: auto;
height: auto;
border-radius: 50%;
margin-top: 100px;
}

/* SECCIÓN I N I C I O */

.inicio{

    background: linear-gradient(to top, hsla(183, 23%, 16%, 0.8),rgb(36, 72, 76)),url(img/img/img/fondo.1.jpeg);
    background-size:cover;
    height: 100vh;
    color: #fff;
    display: felx;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin:auto;
    text-align: center;
    border-radius: 40px;
}
/* BARRA CONTENEDORA DE FOTO Y NOMBRE */
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #6be7e9;
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: "Righteous";
}
.inicio .contenido-banner h3{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius:  42px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.contenido-banner  .redes a:hover{
    background-color: #6be7e9;
}

/* SECCION S O B R E  -  M I */

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 0px 90px;
}
.sobremi  .contenido-seccion {
    max-width: 1000px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family:"Righteous";
    text-align: center;
    padding: 20px 0;
    color: #6be7e9; 
}
.sobremi .contenido-seccion p{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 0px 10px;
    text-align: justify;
}

.hola{
    color: #6be7e9;
    font-weight: bold;   
}

.sobremi .fila{
    display:flex ;
}
.sobremi .fila .col{
    width: 58%;
    margin-left: auto;
    margin-right: auto;
}
.sobremi .fila .col h3{
font-size: 28px;
font-family: "Righteous";
margin-bottom: 50px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color:#6be7e9;
    width:130px;
}
.sobremi .fila .col ul li span{
    background-color: #63d8da;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
}

.sobremi .fila .col .contenedor-intereses .intereses{
    width: 120px;
    height: 120px;
    background-color:#252a2e;
    border-radius: 10px;
    margin: 8 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-bottom: 15px;
    margin-left: 15px;
}
.sobremi .fila .col .contenedor-intereses .intereses:hover{
    background-color: #6be7e9;
}
.sobremi .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}
/* Boton descargar CV */
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 3px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 10px ;
    transition:blackground-color 0.3s;
}
.sobremi button:active{
    background-color: #6be7e9;
   
}

